{% extends "base.html" %}

{% block content %}
<div class="w-75 mx-auto mt-5">
    <h1>Create Stock</h1>
    <table class="table table-bordered border-dark mt-3">
        <thead class="table-dark">
            <tr>
                <th>Company Name</th>
                <th>Price</th>
                <th>Volume</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>-</td>
                <td>-</td>
                <td>-</td>
            </tr>
        </tbody>
    </table>

    <h1 class="mt-5">Market Info</h1>
    <table class="table table-bordered border-dark mt-3">
        <thead class="table-dark">
            <tr>
                <th>Market Hours</th>
                <th>Market Days</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>9:30 AM - 4:00 PM ET</td>
                <td>Monday-Friday</td>
                <td>---</td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock %}