{% extends "base_portfolio.html" %}

{% block brand_bar %}
{{ super() }}
{% endblock %}

{% block content %}
    <style>
        table {
            width: 60%; /* sets width for table
            margin: 20px auto; /* centers + adds spacing */
            border-collapse: collapse; /* eliminates space between borders,merge into
            single shared border */
        }
    </style>
<div class="w-75 mx-auto">
    <h1>My Portfolio</h1>
    <table class="table table-bordered border border-dark">
        <th>Total Balance: $21,000.00</th>
    </table>


    <table class="table table-striped table table-bordered border border-dark">
        <thead class="table-dark">
        <tr>
            <th>Stock Name</th>
            <th>Market Price</th>
            <th>Stock Owned</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>---</td>
            <td>---</td>
            <td>---</td>
            <td>
                ----
            </td>
        </tr>
        <tr>
            <td>---</td>
            <td>---</td>
            <td>---</td>
            <td>
                ----
            </td>
        </tr>
        <tr>
            <td>---</td>
            <td>---</td>
            <td>----</td>
            <td>
                ----
            </td>
        </tr>
        </tbody>
    </table>

</div>

<div class="w-75 mx-auto">
    <h2>Trading Dashboard</h2>

    <table class="table table-striped table table-bordered border border-dark">
        <thead class="table-dark">
        <tr>
            <th>Stock</th>
            <th>Price Change</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>----</td>
            <td>----</td>
            <td>----</td>
        </tr>
        <tr>
            <td>---</td>
            <td>----</td>
            <td>----</td>
        </tr>
        <tr>
            <td>---</td>
            <td>----</td>
            <td>----</td>
        </tr>
        </tbody>
    </table>
</div>


{% endblock %}